body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

form {
    text-align: center;
}

a:-webkit-any-link {
    color: #673AB7;
}

.app {
    background-color: #388E3C;
    margin: 2em auto;
    text-align: left;       
    width: 100%;
}

.app h1 {
    padding: 10px 0;
    text-align: center;
}

.filterOrder {
    margin: auto;
    padding: 10px 0;
    text-align: center;    
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 0;    
}

.todoList {
    margin: auto;
    overflow: hidden;     
    text-align: left;
    width: 60%;
}

.todoEntry {
    margin: 5px 0;    
    padding: 5px;
    width: 50%;
}

.todoBtn {
    background-color: #3f51b5;
    border-style: solid;    
    box-sizing: content-box;
    margin: 5px 0;    
    padding: 5px;
    width: 50%;
}

.footer {  
    margin: auto;
    padding: 10px 0;
    text-align: center;    
    width: 100%;
}

/*
    Some resolution breakpoints to style our smaller displays
*/

@media screen and (min-width:450px) {

    .app {
        width: 50%;     
    }

    .filterOrder {
        width: 100%;
    }

    .todoList {
        padding: 0 0 0 10%;          
        width: 90%;
    }

    .todoEntry {
        width: 80%;
    }
    
    .todoBtn {
        width: 80%;
    }
    

    .footer {         
        width: 100%;
    }

}
